<div class="row" id="srchBar" style="border:2px solid #1111">
  <div class="cols-md-4 cols-xs-12" id="srchlabel">Enter your search : </div>
  <div class="cols-md-4 cols-xs-12">
    <div id="tagger" #tgr>
      <input type="text" data-role="tagsinput">
    </div>
  </div>
  <div class="cols-md-4 cols-xs-12">
    <button (click)="Search(tgr)" id="srchBtn">Search</button>
  </div>
</div>
<div class="row">
    <div class="col-md-4" id="imgFnd">Images Found : {{images.length}}</div>
    <div class="cols-md-4" style="text-align: right;" >
        <pagination-controls  (pageChange)="pageNum = $event" align="end"></pagination-controls>
    </div>
</div>
<div class="row" *ngIf="images.length>0">
  <div class="col-md-4" style="margin:5px 0px;" *ngFor="let image of images|paginate : {itemsPerPage: 9, currentPage: pageNum}">
    <img  [src]="image.location" alt="" style="width: 100%;height:300px;border-radius:3px;border:1px double rgb(128, 127, 126);padding:2px;">
  </div>
</div>